@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');


:root {
    --azul-globo: #1c1caa;
    --roxo-globo: #6c63ff;
    --branco: #ffffff;
    --cinza-claro: #f4f4f4;
    --cinza-medio: #ccc;
  }
  
  body {
    font-family:  'Roboto','Segoe UI', sans-serif;
    background-color: var(--cinza-claro);
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  header {
    background: var(--azul-globo);
    color: var(--branco);
    text-align: center;
    padding: 20px 10px;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
  }
  
  .logo-globo {
    width: 100px;
    height: auto;
  }
  
  h1 {
    font-size: 28px;
    margin: 0;
  }
  
  .infocamera {
    text-align: center;
    padding: 10px;
    background: var(--roxo-globo);
    color: white;
    display: flex;
    align-items: center;        
    justify-content: space-between;
    padding: 10px;
    position: relative;
    margin-bottom: 30px;
  }

  .infocamera .center {
    margin: 0 auto;
    text-align: center;
    padding-left:70px;
  }

  .infocamera .right {
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
  }
  
  .nomecamera, .ipcamera {
    margin: 5px 0;
    font-weight: bold;
  }
  
  #video {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;  
    height: 100%;
   
  }
  
  .camera-buttons {
    max-height: 400px;
    overflow-y: auto;
    width: 300px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
  }
  
  .camera-button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    background: var(--azul-globo);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .camera-button:hover {
    background: var(--roxo-globo);
  }
  
  #camera-stream {
    width: 480px;
    height: 327px;
    border-radius: 10px;
    border: 2px solid var(--azul-globo);
  }
  
  #log-container {
    background: white;
    border-radius: 10px;
    padding: 15px;
    max-height: 400px;
    width: 300px;
    overflow-y: auto;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
  }
  
  #log-container h3 {
    margin-top: 0;
    text-align: center;
  }
  
  .schedule-container {
    display: flex;
    justify-content: center;
    gap: 200px;
    padding: 20px;
    background: white;
    flex-wrap: wrap;
    font-size: 19px;
  }
  
  .containerregistros {
    width: 300px;
  }
  
  .containerregistros h3,
  .schedule-list h4 {
    text-align: center;
  }
  
  select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid var(--cinza-medio);
  }
  input[type="time"] {
    width: 93%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid var(--cinza-medio);
  }
  
  button {
    width: 100%;
    padding: 10px;
    background: var(--roxo-globo);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  button:hover {
    background: var(--azul-globo);
  }
  
  .schedule-list {
    width: 300px;
    background: var(--cinza-medio);
    border-radius: 10px;
    padding: 15px;
    overflow-y: auto;
    max-height: 320px;
    box-shadow: 0 0 0px 15px var(--cinza-medio);
    margin-top: 30px;
  }
  
  footer {
    background: var(--azul-globo);
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
  }
  

/* Câmera */
#camera-stream {
    border: 2px solid #ddd;
    border-radius: 8px;
    width: 580px;
    height: auto;
    transition: all 0.3s ease;
}

/* Preview da câmera */
.preview {
    border-radius: 5px;
    position: absolute;
    width: 250px;
    height: 180px;
    background-color: black;
    border: 2px solid white;
    display: none;
    z-index: 1000;
    pointer-events: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
#maximize-btn{
    width: 20%;
    padding: 10px;
    background: var(--roxo-globo);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 18px;
    font-weight: 600;
}

#maximize-btn:hover{
  background-color: #4a90e2;
}

#ajustandomaximos{
    display: flex;
    justify-items: center;
    width: 100%;
    height: 50%;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
    align-items: baseline;
    padding-bottom: 30px;
    border-bottom: 2px solid var(--roxo-globo);
}
#analise-container{
    width: 19%;
    display: flex;
    justify-content: center;
}
#imganalise{
  height: 30px;
}

#analise-container {
  position: relative; /* importante para posicionar o pop-up em relação ao sino */
}

#registros.popup {
  pad:10px;
  display: none;
  position: absolute;
  top: 8%; /* agora aparece logo abaixo da imagem */
  right: 0;
  width: 250px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  z-index: 1000;
  border-radius: 8px;
  margin-top: 8px; /* dá um pequeno espaço entre o sino e o pop-up */
}

#registros.popup.ativo {
  display: block;
}


.fixed-header{
  position: sticky;
  top: -16px;
  background: white;
  padding: 10px;
  z-index: 1;
}

.popup {
  position: fixed;
  right: 20px;
  top: 80px;
  width: 350px;
  max-height: 300px; /* altura máxima visível */
  overflow-y: auto;  /* ativa rolagem vertical */
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  padding: 20px;
  display: none;
  z-index: 999;
}

.popup.ativo {
  display: block;
}

.popup h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
  font-family: Arial, sans-serif;
}

#trafego-lista {
  list-style: none;
  padding: 0;
  margin: 0;
}

.camera-card {
  background-color: #f4f4f4;
  border-left: 5px solid #4a90e2;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
  font-family: Arial, sans-serif;
  transition: all 0.3s ease;
}

.camera-card:hover {
  background-color: #eaeaea;
}

.camera-card h3 {
  margin: 0 0 5px;
  font-size: 16px;
  color: #222;
}

.camera-card p {
  margin: 3px 0;
  font-size: 14px;
  color: #444;
}

.camera-card.alerta {
  border-left-color: #e74c3c;
  background-color: #ffeaea;
}






#analise-container {
    position: relative;
}

#notificacao-contador {
    position: absolute;
    top: -5px; /* Distância do topo do sino */
    right: -5px; /* Distância da borda direita */
    background: #ff4d4d;
    color: white;
    border-radius:100%;
    padding: 2px 4px;
    font-size: 14px;
    font-weight: bold;
    min-width: 20px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    z-index: 2;
}

#sino {
    position: relative;
    z-index: 1;
}

#notificacao-contador.ativo {
    background-color: #ff3333;
}
.tts{
position: sticky; 
top: -16px; 
background: white;
padding: 10px; 
z-index: 1;
width: 266px;
}